/*  css for La Zeppa 
=========================================
	Title:			La Zeppa 
	Created by: 	dave@netsphere.co.nz
	Modified by:	tom@pack.co.nz
	Stylesheet:	 	navigation
========================================
*/

/* public nav ------------------------------ */


#nav {
	width:950px;
	height:36px;
	background:#fff url(../images/nav_bg_new.png) repeat-x bottom left;
}

#nav ul {
	font-family:  Arial, sans-serif;
	font-size: 14px;
	/* font-variant:small-caps; */
	margin: 0 0 0 20px;
	padding: 0;
	list-style-type: none;
	background: none;
	font-weight:bold;
}
	
#nav li {
	float: left;
	margin: 0;
	padding: 0 22px;
	font-weight:normal;
	line-height:36px;
	list-style-type:none;
	letter-spacing:1px;
	text-decoration: none;
	background: none;
}

#nav li a:hover {
	color: #fff;	
	padding: 0 22px;
	background: url(../images/nav_bg_over.jpg) repeat-x top left; 

	}
	
#nav li.current-menu-item {
	color: #222;	
	padding: 0 22px;
	background:#fff; 
	}
	
#nav li.hmactive {
	color:  #D0A26F;
	background: url(../images/nav_bg_over.jpg) repeat-x top left; 
	padding: 0 22px;
}	

#nav li.hmactive a {
	color: #D0A26F;
}
	
#nav li.active {
	color:  #D0A26F;
	background:#fff; 
}	
	
#nav li.active a{
	color: #D0A26F;	
	padding: 0 25px;
	background:#fff
}





